# Google App Engine project ID
PROJECT_ID=amp-travis-ip-monitor

# Cloud Storage bucket for storing the Travis IP list
CLOUD_STORAGE_BUCKET=amp-travis-ips

# Google Cloud Service Account Key Path
GOOGLE_APPLICATION_CREDENTIALS=./travis-ip-storage-admin.key.json