# Cloud Storage bucket for storing the Travis IP list
CLOUD_STORAGE_BUCKET=bucket-name

# Name of file storing Travis IP list
TRAVIS_IP_FILENAME=travis_ips.json

# Google Cloud Service Account Key Path
GOOGLE_APPLICATION_CREDENTIALS=./travis-ip-storage-admin.key.json