{
  "root": true,
  "extends": [
    "eslint:recommended",
    "google",
    "prettier"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
"rules": {
    "no-alert": 1,
    "no-cond-assign": 1,
    "no-debugger": 1,
    "no-div-regex": 1,
    "no-dupe-keys": 1,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-implicit-coercion": [1, { "boolean": false }],
    "no-implied-eval": 1,
    "no-iterator": 1,
    "no-lone-blocks": 1,
    "no-native-reassign": 1,
    "no-redeclare": 1,
    "no-restricted-globals": [1, "error", "event"],
    "no-script-url": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-throw-literal": 1,
    "no-unused-expressions": 0,
    "no-unused-vars": [1, { "argsIgnorePattern": "^(var_args$|opt_|unused)" }],
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-undef": 1,
    "no-var": 1,
    "no-warning-comments": [1, { "terms": ["do not submit"], "location": "anywhere" }],
    "object-shorthand": [1, "properties", { "avoidQuotes": true }],
    "prefer-const": 1,
    "prettier/prettier": 1,
    "radix": 1,
    "require-atomic-updates": 1
  }
}
