<!DOCTYPE html>
<html lang="en" class="height-full">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMP Test Status | 400 Bad Request</title>
    <link rel="shortcut icon" href="/static/amp_favicon.png">
    <link rel="stylesheet" href="/probot/static/primer.css">
  </head>
  <body class="height-full bg-gray-light">
    <div class="d-flex flex-column flex-justify-center flex-items-center text-center height-full">
      <div class="box-shadow rounded-2 border p-6 bg-white">
        <h1>AMP Test Status | 400 Bad Request</h1>
        <p>{{ message }}</p>
      </div>
    </div>
  </body>
</html>
