# The ID of your GitHub App
APP_ID=12345

# Base URL for where this App will serve its front-end web UI
WEB_UI_BASE_URL=http://my-instance-of-amp-test-status.example.com/

# From the GitHub App settings page
WEBHOOK_SECRET=0123456789abcdef0123456789abcdef01234567

# Proxy is used for local development only
WEBHOOK_PROXY_URL=https://smee.io/0123456789abcdef

# From the GitHub App settings page
GITHUB_CLIENT_ID=xyz.1234567890abcdef

# From the GitHub App settings page
GITHUB_CLIENT_SECRET=0123456789abcdef0123456789abcdef01234567

# Base64 encoded private key from GitHub
PRIVATE_KEY=0123456789abcdefghijklmnopqrstuvwxyz  # Base64 encoded private key from GitHub

# JSON value to use as the `connection` object in Knex, to connect to a PostgreSQL database
DATABASE_CONNECTION_JSON={"host":"url-or-socket","user":"postgres","password":"q1w2e3","database":"dbname"}

# Remove the Travis IP addresses listing for local development, update based on https://docs.travis-ci.com/user/ip-addresses/ otherwise
TRAVIS_IP_ADDRESSES=1.1.1.1,8.8.8.8

# comma separated list of GitHub usernames that are *always* allowed to approve test skips (other than the current build cop)
APPROVING_USERS=githubuser1,githubuser2

# Authorization token to send when updating the current build cop
BUILD_COP_UPDATE_TOKEN=0123456789abcdef0123456789abcdef01234567

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=trace
