/app.yaml

# You can maintain multiple configuration files (for your local development and
# for the production environment) by naming them <something>.<config-file-name>.
/*.app.yaml
/*.env
!/redacted.env
