//Channel Colors
$lts: MidnightBlue;
$stable: Crimson;
$perc-beta: DarkOrchid;
$perc-experimental: MediumSeaGreen;
$opt-in-beta: PaleVioletRed;
$opt-in-experimental: SteelBlue;
$nightly: Tomato;

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 3em;
    color: #24292e;
    margin: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
    font-size: inherit;
    &:focus {
       outline: none; 
    }
    &:active {
        transform: translateY(1px);
    }
} 
