//Channel Colors
$lts: #191970;
$stable: #dc143c;
$perc-beta: #9932cc;
$perc-experimental: #3cb371;
$opt-in-beta: #d87093;
$opt-in-experimental: #4682b4;
$nightly: #ff6347;

body {
	-webkit-appearance: none;
	-moz-appearance: none;
	color: #24292e;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	font-family: inherit;
	font-size: inherit;

	&:focus {
		outline: none; 
	}

	&:active {
		transform: translateY(1px);
	}
} 
