.main-container {
    padding: 12px;
    padding-top: 24px;
}

@mixin container-shadow {
    box-shadow:
        rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    padding-top: 0px;
    border-radius: 4px;
}

.col-side-pannel {
    @include container-shadow;
    max-width: 390;
    width: 30%;
    float:left;
    z-index:2;
}

.col-calendar {
    @include container-shadow;
    max-width: 819 px;
    width: 63%;
    float:right;
    z-index: 2;
}

@media only screen and (max-width: 940px) {
    .AMP-Calendar {
        position: relative !important;
    }
    .col-sidePannel {
        float:left;
        width: 50%;
    }
    .col-calendar {
        width: 90%;
        margin-top: 5px;
        clear: both;
        float: left;
    }
}
