/* For desktop: */
.col-sidePannel {width: 33%; height: 80vh; float:left;}
.col-break{width:4%;float:left};
.col-calendar {width: 63%; float:right;}
.main-container{
    padding-top: 24px;
    padding-left: 1%;
    padding-right:1%;
    margin-right: auto;
    margin-left: auto;
}
.AMP-Calendar{
    height: 1000px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}