@use 'base';
@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

@mixin on {
  background-color: base.$amp-blue;
  border-color: base.$amp-off-blue;
  &:hover {
    border-color: base.$amp-yellow;
    background-color: base.$amp-blue;
  }
}

@mixin off {
  background-color: base.$amp-off-blue;
  border-color: base.$amp-blue;
  &:hover {
    border-color: base.$amp-yellow;
    background-color: base.$amp-blue;
  }
}

.fc-button-active {
  @include on;
}

.fc-button-primary {
  @include on;
}

.fc-button-primary:not(:disabled).fc-button-active {
  @include off;
}

.fc-unthemed td.fc-today {
  background-color: base.$amp-yellow;
}

.fc-view {
  box-shadow:
  rgba(0, 0, 0, 0.2) 0px 1px 2px,
  rgba(0, 0, 0, 0.14) 0px 1px 2px,
  rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.fc-event {
  border-color: none;
  background-color: none;
}

.event-button {
  outline: none;
  background-color: inherit;
  border-color: inherit;
  color: inherit;
  padding-left: 3px;
  padding-top: 3px;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

@mixin color($channel) {
  background-color: $channel;
  border-color: $channel;
}

.lts {
  @include color(base.$lts)
}

.stable {
  @include color(base.$stable);
}

.perc-beta {
  @include color(base.$perc-beta)
}

.perc-experimental {
  @include color(base.$perc-experimental)
}

.opt-in-beta {
  @include color(base.$opt-in-beta);
}

.opt-in-experimental {
  @include color(base.$opt-in-experimental);
}

.nightly {
  @include color(base.$nightly);
}
