.container{
    width: 100%;
    height: 100%;
}
.row{
    float:left;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width:65%;
    height: 3em;
}

@media only screen and (max-width: 600px) {
    .rtv-button {
      width: 100%;
    }
    .label {
        width: 0%;
    }
  }
button:focus {
    outline: none !important;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
}
button {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 3em;
    color: #24292e;
    background-color:rgb(255, 255, 255);
}
.rtv-button{
    float:left;
    width: 35%;
    height: 3em;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}
.label{
    width: 70%;
    float: right;
    height:3em;
}
button:focus {
    outline: none !important;
}
.square{
    float:left;
    width: 3em;
    height: 3em;
    opacity: 100%;
}