@use 'base';

.event-card {
    height: 300px;
    position: relative;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 4px 8px;
}

.event-top{
    height: 20px;
    position: relative;
    float: top;
}

.event-content {
    float: bottom;
    height: 250px;
    opacity: 90%;
    background-color: white;
    overflow: hidden;
    padding: 1em;
    float: bottom;
}

.content-row {
    overflow: hidden;
    padding: none;
    margin: none;
    line-height: 3em;
}

.icon {
    position: relative;
    float: left;
}

.text {
    padding-left: .6em;
    text-align: left;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}
