@use 'base';

.event-card {
    height: 300px;
    position: relative;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 4px 8px;
    height: 'inherit';
}

.event-top{
    height: 20px;
    position: relative;
    float: top;
}

.content-content {
    padding-top: 15px;
}

.event-content {
    float: bottom;
    height: 250px;
    opacity: 90%;
    background-color: white;
    overflow: hidden;
    padding: 1em;
    float: bottom;
}

.title-row {
    display: flex;
    margin: 0em;
}

.subtitle-row {
    display: flex;
    margin: .5em 0em;
}

.content-row {
    overflow: hidden;
    padding: none;
    margin: none;
    line-height: 1.8em;
}

.emoji {
    padding-right: .6em;
    position: relative;
    float: left;
    font-size: 20px;
}

.big-emoji {
    padding-right: .3em;
    position: relative;
    float: left;
    font-size: 40px;
}

.text {
    text-align: left;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}
