.square-lts {
    width: 3em;
    height: 3em;
    background-color: black;
}

.square-stable {
    width: 3em;
    height: 3em;
    background-color: grey;
}

.square-perc-beta {
    width: 3em;
    height: 3em;
    background-color: blue;
}

.square-perc-experimental {
    width: 3em;
    height: 3em;
    background-color: green;
}

.square-opt-in-beta {
    width: 3em;
    height: 3em;
    background-color: purple;
}

.square-opt-in-experimental {
    width: 3em;
    height: 3em;
    background-color:silver;
}

.square-nightly {
    width: 3em;
    height: 3em;
    background-color: red;
}
