{
  "extends": [
    "eslint:recommended",
    "google",
    "prettier"
  ],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "arrowFunctions": true,
      "blockBindings": true,
      "forOf": false,
      "destructuring": true,
      "spread": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "it": false,
    "chai": false,
    "expect": false,
    "describe": false,
    "beforeEach": false,
    "afterEach": false,
    "before": false,
    "after": false,
    "AMP": false,
    "assert": false,
    "sinon": true,
    "sandbox": true,
    "context": false,
    "global": false,
    "describes": true,
    "OwnersMap": false,
    "GitHubStatusPost": false,
    "FileOwner": false,
    "FileOwners": false,
    "PullRequestInfo": false
  }
}
