name: GitHub Actions
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  pr_check:
    if: github.repository == 'ampproject/amp-github-apps'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install Dependencies
        run: bash ./.github/workflows/install_dependencies.sh
      - name: Run PR Check
        run: node build-system/pr-check.js
